@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
html, body {
    font-size: 16px;
    font-family: 'Noto Sans Japanese', sans-serif;
    text-align: center;
}
canvas {
  border: 1px #333 solid;
  max-width: 100%;
  height: auto;
}
