@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
html, body {
    font-size: 16px;
    font-family: 'Noto Sans Japanese', sans-serif;
    text-align: center;
}
canvas {
  border: 1px #333 solid;
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
}
body {
  background-image: url('../image/back.jpg');
  background-size: cover;
}
main {
  background-color: rgba(255,255,255,0.6);
}
#gifmovie {
  width: 512px;
  margin:0 auto 0 auto;
}
